script(type="text/x-template")#widget-container
    .works-widget
        //- передаём данные из data внутрь компонентов через свойства
        slider(
            :works= "works",
            :currentWork= "currentWork" 
        )
        info(
            :currentWork= "currentWork" 
        )

script(type="text/x-template")#widget-slider    
    .works-widget__slider.slider(data-slide="1")
        img.slider__fullpic(:src="currentWork.img", alt="Полноразмерное превью работы")
        //- +image("content/preview1.jpg", "slider__fullpic")
        previews(
            :works="works"
        )
        
        //- назначаем событию slide обработчик handleSlide 
        buttons(
            @slide="handleSlide" 
        ) 

script(type="text/x-template")#slider-previews
    ul.previews.slider__previews
        //- Не забыть про previews__item--active
        li.previews__item(v-for="work in works") 
            img.previews__pic(:src="work.img", alt="Уменьшенное превью работы")         

script(type="text/x-template")#slider-buttons                                     
    .slider__buttons
        //- По событию click создаётся пользовательское событие с именем slide и вместе с ним вторым аргументом передаются данные 
        +arrow-btn('right', 'slider__buttons-item slider__buttons-item--active', 'greyish', {"@click": "$emit('slide', 'next')"}) 
        +arrow-btn('left', 'slider__buttons-item', 'greyish', {"@click": "$emit('slide', 'prev')"})

script(type="text/x-template")#widget-info      
    .works-widget__info
        tags
        h3.works-widget__title {{currentWork.title}}
        .works-widget__desc
            p {{currentWork.desc}}
        a.iconed-link(:href="currentWork.link")
            +icon('link', 'iconed-link__icon')
            span.iconed-link__text Посмотреть сайт 

script(type="text/x-template")#slider-tags   
    .works-widget__tags
        - var tags = ['HTML', 'CSS', 'Javascript']
        ul.tags
            each tag in tags
                li.tags__item #{tag}

