script(type="text/x-template")#widget-container
    .works-widget
        //- передаём данные из data внутрь компонентов через свойства
        slider(
            :works= "works"
            :currentWork= "currentWork"
            :currentIndex = "currentIndex"
            @slide="handleSlide"
            @previewClick = "switchPreview"
            :hdScreen="hdScreen"
            
        )
        info(
            :currentWork= "currentWork" 
        )

script(type="text/x-template")#widget-slider    
    .works-widget__slider.slider(:data-slide="currentIndex + 1")
        img.slider__fullpic(:src="currentWork.img", alt="Полноразмерное превью работы")
        previews(
            :works="works"
            :currentWork= "currentWork"
            :currentIndex = "currentIndex"
            @previewClick = "$emit('previewClick', $event)"
            :hdScreen="hdScreen"
        )

        //- пробрасываем(эмитим) событие slide дальше и передаём с ним данные (направление)
        buttons(
            @slide="$emit('slide', $event)"
        ) 

script(type="text/x-template")#slider-previews
    ul.previews.slider__previews
        //- Не забыть про previews__item--active
        
        li.previews__item(
            v-for="(work, ndx) in works"
            :class="{'previews__item--active': currentWork.id === work.id}"
            v-show="foo(ndx)"
        ) 
            a.previews__button(@click="$emit('previewClick', work.id)")
                img.previews__pic(:src="work.img", alt="Уменьшенное превью работы")         

script(type="text/x-template")#slider-buttons                                     
    .slider__buttons
        //- По событию click создаётся пользовательское событие с именем slide, которое пробрасывается(эмитится) выше и вместе с ним вторым аргументом передаются данные 
        +arrow-btn('right', 'slider__buttons-item slider__buttons-item--active', 'greyish', {"@click": "$emit('slide', 'next')"}) 
        +arrow-btn('left', 'slider__buttons-item', 'greyish', {"@click": "$emit('slide', 'prev')"})

script(type="text/x-template")#widget-info      
    .works-widget__info
        tags(
            :tagsArray= "currentWork.skills"
        )
        h3.works-widget__title {{currentWork.title}}
        .works-widget__desc
            p {{currentWork.desc}}
        a.iconed-link(:href="currentWork.link")
            +icon('link', 'iconed-link__icon')
            span.iconed-link__text Посмотреть сайт 

script(type="text/x-template")#slider-tags   
    .works-widget__tags
        ul.tags
            li.tags__item(v-for="tag in tagsArray") {{tag}}

