.about {
    background-color: $bg-purple;
}

.about__avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.about__table-cell {
    line-height: 30px;
    font-weight: $semibold;
    &--header {
        color: $white-translucent;
    }
}