.arrow-button{
    padding: 0;
    width: 11px;
    height: 11px;
    &--slide--left {
        transform: rotate(180deg);
    }
}

.arrow-button__icon {
    display: block;
    width: 11px;
    height: 11px;
}

.arrow-button--color--greyish{
    .arrow-button__icon {
        fill: $greyish;
    }
}

.arrow-button--color--white{
    .arrow-button__icon {
        fill: $white;
    }
}