.button {
    background: $btn-blue;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    font-weight: $bold;
    text-transform: uppercase;
    color: $white;
    padding: 10px 80px;
    border-radius: 50px;
    &:hover {
        background-color: $btn-blue-hover;
    }
    @include tablets {
        padding: 20px 120px;
    }
}