.contacts {
    padding: 160px 0 140px 0;
    position: relative;
    @include phones-small {
        padding: 50px 0 100px 0;
    }
}


.contacts__title {
    margin-bottom: 60px;
    @include tablets {
        text-align: center;
    }
}