$color: $white;
$size: 48px;

.copyright {
    opacity: 0.1;
    display: flex;
    align-items: center;
}

.copyright__icon {
    width: $size;
    height: $size;
    fill: $color;
    margin-right: 10px;
}

.copyright__text {
    color: $color;
    font-size: $size;
    line-height: 30px;
}