.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.header__logo {
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    color: $white;
    font-weight: $extrabold;
}