.iconed-link__icon {
    width: 17px;
    height: 17px;
    fill: $purple;
    margin-right: 20px;
}

.iconed-link__text {
    color: $purple;
    font-size: 18px;
    line-height: 48px;
    font-weight: $bold;
}

.iconed-link:hover {
    .iconed-link__text {
        text-decoration: underline;
    }
}