.nav__item {
    display: inline-flex;
    margin-right: 60px;
    padding: 25px 0;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        .nav__link {
            color: $amber;
        }
        border-bottom: 3px solid $amber;
        margin-bottom: -3px;
    }
}

.nav__link {
    font-size: 16px;
    line-height: 30px;
    color: $white;
}