.reviews {
    padding: 145px 0 35px 0;
}

.reviews__top-row {
    display: flex;
    align-items: center;
    margin-bottom: 105px;
}

.reviews__title {
    margin-right: 8%;
}

.reviews__list {
    display: flex;
}

.reviews__item {
    margin-right: 10%;
}

