.reviews {
    padding: 145px 0 35px 0;
    position: relative;
}

.reviews__top-row {
    display: flex;
    align-items: center;
    margin-bottom: 105px;
}

.reviews__title {
    margin-right: 8%;
}


.reviews__item {
    width: 50%; //в сочетании с groupCells: true определяет количество ячеек в отображении
}

