.section-title {
    font-size: 36px;
    line-height: 48px;
    font-weight: $bold;
    color: $white;
    &--dark {
        color: $dark-grayish-blue;
    }
    &--admin {
        font-size: 21px;
        color: $dark-grayish-blue;
        line-height: 34px;
    }
    @include phones-small {
        font-size: 30px;
    }
}