.social__item {
    display: inline-flex;
    margin-left: 40px;
    &:first-child {
        margin-left: 0;
    }   
}


.social__icon {
    width: 26px;
    height: 26px;
    fill: $icon-dark-purple;
}