.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags__item {
    background: $light-blue;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0 20px;
    color: $grayish;
    font-size: 15px;
    font-weight: $semibold;
    margin-right: 8px;
    margin-bottom: 10px;
}