-
    var tableArr = [
                    {
                        title: "Проживаю:",
                        content: "Ессентуки"
                    },{
                        title: "Возраст:",
                        content: "23 года"
                    },{
                        title: "Родился:",
                        content: "28 декабря 1996"
                    }
                ]

section.section.about#about
    .container.about__inner
        .about__layout
            .about__avatar-holder
                .about__avatar
                    +image("content/user.jpg", "avatar")
            table.about__table
                each obj in tableArr
                    tr.about__table-row
                        th.about__table-cell.about__table-cell--header= obj.title
                        td.about__table-cell= obj.content
            .about__content
                div.about__intro Привет меня зовут
                h2.section-title.about__title Владимир Куприенков
                p.about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__note Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            