section.section.hero
    .container.hero__inner
        header.header
          span.header__logo вк
          +nav('header__nav')
          +social('header__social')
        .hero__main
            .hero__text Личный сайт веб-разработчика
            h1.hero__title Владимир Куприенков
        button.hero__scroll Скролл
            +icon('scroll', 'hero__scroll-icon')    