.parallax-rockmus__layer(data-speed="0") <!--В data-speed хранится скорость прокрутки-->
    +image('content/parallax/rockmus-bg.png', 'parallax-rockmus__chunk-img')
.parallax-rockmus__layer(data-speed="0.11")
    +image('content/parallax/rockmus-smoke-bottom.png', 'parallax-rockmus__chunk-img')
.parallax-rockmus__layer(data-speed="0.19")
    +image('content/parallax/rockmus-drumset.png', 'parallax-rockmus__chunk-img')
.parallax-rockmus__layer(data-speed="0.25")
    +image('content/parallax/rockmus-musician.png', 'parallax-rockmus__chunk-img')
.parallax-rockmus__layer(data-speed="0")
    +image('content/parallax/rockmus-blur.png', 'parallax-rockmus__chunk-img')

