.parallax-rock__layer(data-speed="0.1") <!--В data-speed хранится скорость прокрутки-->
    +image('content/parallax/rockfest-lights.png', 'parallax-rock__chunk-img')
.parallax-rock__layer(data-speed="0.19")
    +image('content/parallax/rockfest-crowd-far.png', 'parallax-rock__chunk-img')
.parallax-rock__layer(data-speed="0.22")
    +image('content/parallax/rockfest-smoke-far.png', 'parallax-rock__chunk-img')
.parallax-rock__layer(data-speed="0.27")
    +image('content/parallax/rockfest-crowd-middle.png', 'parallax-rock__chunk-img')
.parallax-rock__layer(data-speed="0.35")
    +image('content/parallax/rockfest-smoke-middle.png', 'parallax-rock__chunk-img')
.parallax-rock__layer(data-speed="0.42")
    +image('content/parallax/rockfest-crowd-nearby.png', 'parallax-rock__chunk-img')
.parallax-rock__layer(data-speed="0.53")
    +image('content/parallax/rockfest-bottom-bg.png', 'parallax-rock__chunk-img')
.parallax-rock__layer(data-speed="0.64")
    +image('content/parallax/rockfest-sparks.png', 'parallax-rock__chunk-img')
.parallax-rock__layer(data-speed="0.7")
    +image('content/parallax/rockfest-blur.png', 'parallax-rock__chunk-img')
