section.reviews
    .container.reviews__inner
        .reviews__top-row
            h2.section-title.reviews__title Что обо мне говорят
            .switcher
                +arrow-btn('left', 'switcher__item', 'white')
                +arrow-btn('right', 'switcher__item', 'white')
            