section.values
    .triangles
        svg.triangles__item(viewBox="0 0 1400 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1400,100")
        svg.triangles__item(viewBox="0 0 400 100" preserveAspectRatio="none")
            polygon(points="0,100 400,100 400,0")
    .container.values__inner
        .values__info
          h3.values__info-title Чем я могу быть полезен вам
          p.values__info-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        ul.values__skills
              - 
                var skills = [
                  ['Front-end', ['HTML5', 'CSS3', 'Javascript', 'Jquery и Vue.js']],
                  ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
                ]
              each item in skills 
                li.user-skills__item.skills-row 
                  h3.skills-row__title #{item[0]}
                  ul.skills-row__list
                    each skill in item[1]
                      li.skills-row__item
                        .skill
                          svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                            circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--under
                            circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--above
                            linear-gradient()
                          .skill__title #{skill}