extends ../partials/layout

block title 
        title Главная страница | Куприенков Портфолио

block content
  .welcome         
    include ../components/hero
    include ../components/about
  include ../components/values
  include ../components/works
  .outro
    include ../components/reviews
//- .maincontent
//-   +image('content/user.jpg', 'user-pic')
//-   +icon('link', 'link-class')
//-   .icon-bg
        