extends ../partials/layout

block title 
        title Главная страница | Куприенков Портфолио

block content
  main.welcome         
    include ../components/hero
    include ../components/about
  .triangles
    svg.triangles__item(viewBox="0 0 1400 100" preserveAspectRatio="none")
      polygon(points="0,0 0,100 1400,100")
    svg.triangles__item(viewBox="0 0 400 100" preserveAspectRatio="none")
      polygon(points="0,100 400,100 400,0")  
  include ../components/skills  
//- .maincontent
//-   +image('content/user.jpg', 'user-pic')
//-   +icon('link', 'link-class')
//-   .icon-bg
        